.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  min-height: calc(90vh - 60px);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: inherit;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-dark);
}

.theme-dark {
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.theme-light {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.carousel-img-border {
  border: 6px solid var(--carousel-border);
  border-radius: 18px;
  transition: border-color 0.3s;
}

body:not(.dark-mode) .carousel-img-border {
  --carousel-border: #ffb300;
}

body.dark-mode .carousel-img-border {
  --carousel-border: #fff;
}