body {
  margin: 0;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: #212529;
  color: #f8f9fa;
}

body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  transition: background-color 0.5s, color 0.5s;
  background: transparent;
}

.navbar {
  transition: background-color 1s ease, color 1s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
