body {
  transition: background-color 0.5s, color 0.5s;
  background-color: #f8f9fa;
  color: #222;
}

body.dark-mode {
  background-color: #181818;
  color: #f8f9fa;
}

body.light-mode {
  background-color: #f8f9fa;
  color: #222;
}

/* Przykład dla .container, jeśli chcesz płynne tło również w kontenerze */
.container {
  transition: background-color 0.5s, color 0.5s;
  background: transparent;
}

/* Opcjonalnie: navbar */
.navbar {
  transition: background-color 1s ease, color 1s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
